[submodule "SubModule"]
	path = SubModule
	url = https://github.com/Sanjay3761/UserRepos1.git
	branch = master
[submodule "SubModule1"]
	path = SubModule1
	url = https://github.com/Sanjay3761/UserRepos1.git
	branch = master
